# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile

# Unignore all dirs
!*/
!api
bin/

.idea
.idea/*.*
.vscode
**/.DS_Store
**/logs
!Makefile

# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS

#**/*.yaml
*_local.yaml
